//====================================================================================================
.first-block{
    position: relative;
    height: 100vh;
    overflow: hidden;
    @media (max-width:768px) {
        height: auto;
        padding-bottom: 30px;
    }
    &__container{
        height: 100%;
    }
    &__author{
        position: absolute;
        bottom: 0;
        right: 100px;
        height: 920px;
        width: 750px;
        @media (max-width:1920px) {
            @include adaptiveValue("height", 920, 700, 1920, 1024);
            @include adaptiveValue("width", 920, 700, 1920, 1024);
            @include adaptiveValue("right", 100, 0, 1920, 1024);
        }
        @media (max-width:1024px) {
            @include adaptiveValue("height", 700, 765, 1024, 992);
            @include adaptiveValue("width", 700, 585, 1024, 992);
            right: 0;
        }
        @media (max-width:992px) {
            display: none;
        }
        img{
            object-fit: contain;
        }
    }
    &__body{
        position: relative;
        height: 100%;
        padding-top: 180px;
    }
    &__content{
        width: 730px;
        color: #ffff;
        @media (max-width:1024px) {
            @include adaptiveValue("width", 730, 600, 1024, 992);
        }
        @media (max-width:992px) {
            width: 100%;
        }
    }
    &__title{
        font-size: 100px;
        color: #d7b633;
        margin-bottom: 45px;
        padding-left: 30px;
        border-style: solid;
        border-color: #d7b633;
        border-left-width: 3px;
        @media (max-width:1920px) {
            @include adaptiveValue("font-size", 100, 80, 1920, 1024);
        }
        @media (max-width:1024px) {
            @include adaptiveValue("font-size", 80, 38, 1024, 320);
        }
    }
    &__text{
        margin-bottom: 45px;
        line-height: 1.8;
        font-size: 21px;
        @media (max-width:1920px) {
            @include adaptiveValue("font-size", 21, 18, 1920, 1024);
        }
    }
    &__rewards{
        display: flex;
        margin-bottom: 45px;
    }
    &__rewards-item{
        height: 63px;
        width: 71px;
        &:not(:last-child){
            margin-right: 50px;
        }
        img{
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }
}
.featured{
    padding: 150px 0;
    &__body{
        display: flex;
        align-items: center;
        @media (max-width:992px) {
            flex-direction: column;
        }
    }
    &__img{
        width: 542px;
        height: 423px;
        flex:0 0 auto;
        img{
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }
    &__content{
        padding-right: 70px;
        @media (max-width:1920px) {
            @include adaptiveValue("padding-right", 70, 0, 1920, 992);
        }
        @media (max-width:992px) {
            padding-right: 0;
            text-align: center;
        }
    }
    &__title{
        margin-bottom: 30px;
    }
    &__text{
        margin-bottom: 30px;
        color: #a7a5a5;
        line-height: 1.6;
    }
    &__order{
        margin-bottom: 45px;
        font-size: 28px;
    }
}
.publications {
    height: 743px;
    width: 100%;
    position: relative;
    @media (max-width:576px) {
        height: auto;
        padding: 30px 0;
    }
    &__container {
        height: 100%;
    }

    &__body {
        position: relative;
        height: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
    }
    &__wrapper{
        padding: 0 100px;
        @media (max-width:992px) {
            @include adaptiveValue("padding-left", 100, 0, 992, 768);
            @include adaptiveValue("padding-right", 100, 0, 992, 768);
        }
        @media (max-width:768px) {
            padding: 0px;
        }
    }
}
.spollers-publications{
    .spollers__body, .spollers__text{
        padding: 0;
    }
    .publications-slider__text, .publications-slider__text{
        margin-bottom: 0;
    }
    .spollers__text:first-child{
        border-bottom: none;
    }
    .spollers__publications-title{
        position: relative;
        margin-bottom: 10px;
        &::before{
            content:"";
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
            height: 20px;
            width: 20px;
            background-image: url('../img/arrowDown.svg');
            transition: all .5s ease;
        }
    }
    ._spoller-active{
        &::before{
            left: 47%;
            transform: rotate(180deg);
        }
    }
}
.publications-slider {
    width: 610px;
    text-align: center;
    overflow: hidden;
    @media (max-width:768px) {
        width: 100%;
    }
    &__body {
        display: flex;
    }

    &__slide{
        flex: 0 0 auto;
    }

    &__text{
        color: #fff;
    }

    &__item {
    }

    &__title {
        margin-bottom: 45px;
    }

    &__img {
        height: 84px;
        width: 84px;
        margin: 0 auto;
        margin-bottom: 30px;
        border-radius: 50%;
        overflow: hidden;
        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    &__text {
        line-height: 1.6;
        margin-bottom: 30px;
        h3{
            margin-bottom: 20px;
        }
    }

    &__sub-text {
    }
}
.pricing {
    padding: 150px 0;
    &__container {
    }

    &__body {
    }

    &__title {
        margin-bottom: 45px;
        text-align: center;
    }

    &__content {
        display: flex;
        justify-content: center;
        gap: 15px;
    }

    &__item {
    }
}
.pricing-item {
    width: 370px;
    padding: 45px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #f4f4f4;
    transition: all .5s ease;
    &:hover{
        background-color: #dbdbdb;
    }

    &__img {
        margin-bottom: 30px;
        height: 70px;
        width: 70px;
        img{
            height: 100%;
            width: 100%;
        }
    }

    &__title {
        margin-bottom: 30px;
    }

    &__order {
        margin-bottom: 22px;
        p{
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 26px;
        }
        span{
            font-size: 16px;
            color: #767676;
            margin-top: 10px;
        }
    }

    &__text {
        color: #a7a5a5;
        line-height: 1.6;
        margin-bottom: 30px;
    }
}
.price {
}
.numbers {
    position: relative;
    height: 455px;

    &__container {
        height: 100%;
    }

    &__body {
        position: relative;
        color: #fff;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__title {
        margin-bottom: 30px;
    }

    &__text {
    }

    &__counter-body {
        padding: 45px 0;
    }
}
.number {

    &__couner-item {
    }
}
.other-books {
    padding: 150px 0;
    &__container {
    }

    &__body {
    }

    &__title {
        text-align: center;
        margin-bottom: 30px;
    }

    &__slider-wrapper{
        position: relative;
        padding: 0 100px;
        @media (max-width:992px) {
            @include adaptiveValue("padding-right", 100, 50, 992, 320);
            @include adaptiveValue("padding-left", 100, 50, 992, 320);
        }
    }

    &__slider {
    }
}
.other-books-slider {
    display: flex;
    overflow: hidden;

    &__body {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        height: 360px;
    }

    &__img {
        height: 80%;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__title {
        padding-top: 28px;
        text-align: center;
    }

}
.about-me {
    padding: 150px 0;
    background: #f4f4f4;
    &__container {
    }

    &__body {
        display: flex;
        align-items: center;
        padding-left: 135px;
        @media (max-width:1920px) {
            @include adaptiveValue("padding-left", 135, 0, 1920, 992);
        }
        @media (max-width:992px) {
            padding-left: 0;
        }
    }

    &__img {
        background: linear-gradient(90deg, rgba(78,78,78,1) 0%, rgba(71,68,67,1) 50%, rgba(48,49,44,1) 100%);
        height: 800px;
        width: 535px;
        flex: 0 0 auto;
        @media (max-width:1920px) {
            @include adaptiveValue("height", 800, 500, 1920, 768);
            @include adaptiveValue("width", 535, 360, 1920, 768);
        }
        @media (max-width:768px) {
            display: none;
        }
        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    &__content {
    }

    &__title {
        margin-left: 30px;
        padding-left: 30px;
        margin-bottom: 45px;
        border-style: solid;
        border-color: #d7b633;
        border-left-width: 3px;
        font-size: 50px;
    }

    &__text {
        background: #d7b633;
        padding: 45px 45px 0 45px;
        color: #090909;
        font-size: 17px;
        line-height: 1.6;
        font-style: italic;
    }

    &__social {
        background: #d7b633;
        padding: 15px 45px 45px 45px;
    }

    &__links {
    }
}
.timin-right {
    height: 395px;
    position: relative;
    &__bg {
    }

    &__container {
        height: 100%;
    }

    &__body {
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #fff;
    }

    &__title {
        margin-bottom: 30px;
    }
    &__sub-title{
        margin-bottom: 30px;
    }
    &__btn {
    }
}
.partners {
    padding: 85px 0;
    background: #f4f4f4;
    &__container {
    }

    &__body {
    }

    &__content {
        display: flex;
        justify-content: space-between;
    }

    &__img {
        height: 105px;
        width: 170px;
        img{
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }
}
.answer-questions {
    padding: 150px 0;
    &__container {
    }

    &__body {
        }

    &__title {
        text-align: center;
        margin-bottom: 45px;
    }

    &__spolier-body{
        display: flex;
        gap: 30px;
        justify-content: center;
    }

    &__spoliers {
        @media (max-width:900px) {
            width: 100%;
        }
    }

    &__img {
        height: 370px;
        width: 370px;
        flex: 0 0 auto;
        @media (max-width:900px) {
            display: none;
        }
        img{
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }
}
.spollers {
    width: 470px;
    @media (max-width:900px) {
        width: 100%;
    }
    &__item {
    }
    
    &__title {
        padding: 13px 29px;
        width: 100%;
        text-align: start;
        background-color: #d7b633;
        position: relative;
        &::before{
            content:"";
            position: absolute;
            top: 50%;
            right: 15px;
            transform: translateY(-50%);
            height: 20px;
            width: 20px;
            background-image: url('../img/arrowDown.svg');
            transition: all .5s ease;
        }
    }

    ._spoller-active{
        &::before{
            top: 38%;
            transform: rotate(180deg);
        }
    }

    &__body {
        padding: 30px 15px;
        color: #a7a5a5;
        line-height: 1.6;
    }

    &__text {
        &:first-child{
            border-bottom: 2px solid #d7b633;
            padding-bottom: 15px;
        }
        &:last-child{
            padding-top: 15px;
        }
    }
}
.statistics {
    height: 536px;
    position: relative;
    @media (max-width:768px) {
        height: auto;
        padding: 30px 0;
    }
    &__container {
        height: 100%;
    }

    &__body {
        position: relative;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #fff;
        gap: 15px;
        @media (max-width:768px) {
            flex-wrap: wrap;
            gap: 20px;
        }
    }

    &__item {
        width: 270px;
        height: 206px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background: #ffff;
        color: #090909;
        line-height: 1.2;
        @media (max-width:768px) {
            flex: 1 1 auto;
        }
    }

    &__title {
        color: #090909;
        font-size: 45px;
        line-height: 1.2;
        font-family: 'Playfair Display';
        padding-bottom: 15px;
        border-bottom: 2px solid #d7b633;
    }

    &__text {
        padding-top: 15px;
    }
}
.easy-steps {
    padding: 150px 0;
    &__container {
    }

    &__body {
    }

    &__title {
        text-align: center;
        margin-bottom: 45px;
    }

    &__content {
        display: flex;
        gap: 30px;
    }

    &__item {
        text-align: center;
    }

    &__number{
        color: #d7b633;
        font-family: 'Playfair Display', serif;
        font-size: 45px;
        margin-bottom: 22px;
    }

    &__sub-title {
        font-family: 'Playfair Display', serif;
        font-size: 20px;
        margin-bottom: 22px;
    }

    &__text {
        color: #a7a5a5;
        font-size: 19px;
        line-height: 1.6;
    }
}
.skils {
    padding: 150px 0;
    background: #f4f4f4;
    &__container {
    }

    &__body {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    &__content {
        width: 423px;
    }

    &__title {
        padding: 0 0 0 30px;
        border-left: 3px solid #d7b633;
        margin-bottom: 45px;
    }

    &__item {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        &:not(:last-child){
            margin-bottom: 25px;
        }
    }

    &__label {
        color: #a7a5a5;
        font-size: 19px;
        line-height: 1.6;
    }

    &__persent {
        color: #a7a5a5;
        font-size: 19px;
        line-height: 1.6;
    }

    &__progress {
        height: 20px;
        flex-basis: 100%;
        background: #d7b633;
    }

    &__img {
        width: 569px;
        height: 595px;
        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}
.your-project {
    padding: 150px 0;
    &__container {
    }

    &__body {
    }

    &__title {
        margin-bottom: 45px;
        text-align: center;
    }

    &__tabs {
    }
}
.tabs {

    &__navigation {
        display: flex;
        justify-content: space-between;
        gap: 30px;
    }

    &__title {
        padding: 10px 20px;
        flex: 1 1 auto;
        background-color: #f4f4f4;
        transition: all .5s ease;
        font-family: 'Playfair Display';
        &:hover{
            background-color: #d7b633;
        }
    }
    ._tab-active{
        background-color: #d7b633;
    }
    &__content {
    }

    &__body {
        padding: 20px;
        color: #a7a5a5;
        font-size: 19px;
        line-height: 1.6;
        p{
            &:first-child{
                margin-bottom: 30px;
            }
        }
    }
}

.vacancy {
    padding: 150px 0;
    background: #2c2c2b;
    color: #fff;
    &__container {
    }

    &__body {
    }

    &__img {
        height: 300px;
        width: 100%;
        margin-bottom: 30px;
        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    &__content {
        display: flex;
        gap: 30px;
    }

    &__item {
        text-align: center;
    }

    &__title {
        margin-bottom: 22px;
    }

    &__text {
        color: #a7a5a5;
        font-size: 19px;
        line-height: 1.6;
    }
}
.contacts {
    padding: 150px 0;

    &__container {
    }

    &__body {
    }

    &__title {
        text-align: center;
        margin-bottom: 45px;
    }

    &__content {
        display: flex;
        justify-content: center;
        gap: 75px;
        @media (max-width:850px) {
            flex-wrap:wrap ;
        }
    }

    &__info {
        flex: 0 1 375px;
        @media (max-width:850px) {
            flex-basis: 100%;
        }
    }


    .info{
        display: flex;
        margin-bottom: 30px;
        &__title{
            font-family: 'Playfair Display', serif;
            color: #090909;
            font-size: 20px;
            line-height: 1.4;
            margin-bottom: 22px;
        }
        &__img{
            height: 28px;
            width: 28px;
            margin-right: 30px;
            flex:0 0 auto;
            img{
                height: 100%;
                width: 100%;
                object-fit: contain;
            }
        }
        &__link{
            color: #a7a5a5;
        }
        p{
            color: #a7a5a5;
            font-size: 19px;
            line-height: 1.6;
        }
    }

    &__form-body {
        width: 470px;
        flex: 0 0 auto;
        @media (max-width:850px) {
            flex-basis: 100%;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
    }

    &__input {
        height: 55px;
        width: 100%;
        color: #a7a5a5;
        background-color: #f4f4f4;
        margin-bottom: 20px;
        padding: 15px 19px;
    }

    &__textarea {
        width: 100%;
        height: 130px;
        color: #a7a5a5;
        background-color: #f4f4f4;
        margin-bottom: 20px;
        padding: 15px 19px;
    }

    &__submit {
    }
}
.featured, .pricing, .other-books, .about-me, .answer-questions, .contacts{
    @media (max-width:1920px) {
        @include adaptiveValue("padding-top", 150, 30, 1920, 320);
        @include adaptiveValue("padding-bottom", 150, 30, 1920, 320);
    }
}
//====================================================================================================
