@font-face {
	font-family: Alkes;
	font-display: swap;
	src: url("../fonts/Alkes-Black.woff2") format("woff2"), url("../fonts/Alkes-Black.woff") format("woff");
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: Alkes;
	font-display: swap;
	src: url("../fonts/Alkes-BlackItalic.woff2") format("woff2"), url("../fonts/Alkes-BlackItalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Alkes;
	font-display: swap;
	src: url("../fonts/Alkes-Bold.woff2") format("woff2"), url("../fonts/Alkes-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Alkes;
	font-display: swap;
	src: url("../fonts/Alkes-BoldItalic.woff2") format("woff2"), url("../fonts/Alkes-BoldItalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Alkes;
	font-display: swap;
	src: url("../fonts/Alkes-ExtraBold.woff2") format("woff2"), url("../fonts/Alkes-ExtraBold.woff") format("woff");
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: Alkes;
	font-display: swap;
	src: url("../fonts/Alkes-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/Alkes-ExtraBoldItalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Alkes;
	font-display: swap;
	src: url("../fonts/Alkes-Light.woff2") format("woff2"), url("../fonts/Alkes-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: Alkes;
	font-display: swap;
	src: url("../fonts/Alkes-Regular.woff2") format("woff2"), url("../fonts/Alkes-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Alkes;
	font-display: swap;
	src: url("../fonts/Alkes-LightItalic.woff2") format("woff2"), url("../fonts/Alkes-LightItalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Alkes;
	font-display: swap;
	src: url("../fonts/Alkes-RegularItalic.woff2") format("woff2"), url("../fonts/Alkes-RegularItalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Alkes;
	font-display: swap;
	src: url("../fonts/Alkes-SemiboldItalic.woff2") format("woff2"), url("../fonts/Alkes-SemiboldItalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Alkes;
	font-display: swap;
	src: url("../fonts/Alkes-Thin.woff2") format("woff2"), url("../fonts/Alkes-Thin.woff") format("woff");
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: Alkes;
	font-display: swap;
	src: url("../fonts/Alkes-ThinItalic.woff2") format("woff2"), url("../fonts/Alkes-ThinItalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Alkes;
	font-display: swap;
	src: url("../fonts/Alkes-Semibold.woff2") format("woff2"), url("../fonts/Alkes-Semibold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: CorporateA;
	font-display: swap;
	src: url("../fonts/CorporateA-Bold.woff2") format("woff2"), url("../fonts/CorporateA-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: CorporateA;
	font-display: swap;
	src: url("../fonts/CorporateA-BoldItalic.woff2") format("woff2"), url("../fonts/CorporateA-BoldItalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: CorporateA;
	font-display: swap;
	src: url("../fonts/CorporateA-Italic.woff2") format("woff2"), url("../fonts/CorporateA-Italic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: CorporateA;
	font-display: swap;
	src: url("../fonts/CorporateA-Light.woff2") format("woff2"), url("../fonts/CorporateA-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: CorporateA;
	font-display: swap;
	src: url("../fonts/CorporateA-LightItalic.woff2") format("woff2"), url("../fonts/CorporateA-LightItalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: CorporateA;
	font-display: swap;
	src: url("../fonts/CorporateA-Regular.woff2") format("woff2"), url("../fonts/CorporateA-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: CorporateA;
	font-display: swap;
	src: url("../fonts/CorporateA-SemiBold.woff2") format("woff2"), url("../fonts/CorporateA-SemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: CorporateA;
	font-display: swap;
	src: url("../fonts/CorporateA-SemiBoldItalic.woff2") format("woff2"), url("../fonts/CorporateA-SemiBoldItalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Nexa Script;
	font-display: swap;
	src: url("../fonts/Nexa Script.woff2") format("woff2"), url("../fonts/Nexa Script.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
